.size-fixed {
    max-height: 450px;
    overflow-y:scroll;
}

#name {
  width:20% !important;
  min-width: 200px;
}

#messageText {
  width: auto !important;
  min-width: 300px;
}

#submitButton {
  width: 5% !important;
  min-width: 50px;
}

.navbar-right li {
  padding-right: 16px;
}

// #signedInName {
//   display: none;
// }

.fa-circle {
    padding-right: 5px;

    &.online {
      color: #4AAF46;
    }
    &.offline {
      color: #D03B3B;
    }
}
