<!-- index.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon"
      type="image/png"
      href="favicon.ico">
  <title>Messenger</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/styles.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css">
</head>
<body id="app" background="images/mountains.png">

  <!-- navigation bar -->
  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> Messenger</a>
      <ul class="nav navbar-nav navbar-right">
        <li> -->
          <!-- <h5 id="signInStatus"><i id="signInStatusIcon" class="fa fa-circle offline" aria-hidden="true"></i>Not signed in. </h5> -->
          <!-- <h5 id="signedInName"><i class="fa fa-circle online" aria-hidden="true"></i> Signed in as {{ message.name }} </h5> -->
        <!-- </li>
      </ul>
    </div>



  </nav> -->


  <!-- main body of our application -->
  <div class="container">
<div class="col-xs-12">
    <h1 class="title">Messenger.</h1>
</div>
    <div class="col-xs-12 col-md-9">
      <!-- show the messages -->
      <div class="col-xs-12">
        <div id="messageWindow" class="list-group size-fixed">
          <!-- using handlebars templates -->
          <ul class="list-group">
            <chat-component :messages="messages" />
        </ul>
        </div>
      </div>

      <!-- add a message form -->
      <div class="col-xs-12">

        <send-component :messages="messages" />

      </div>
    </div>
    <div id="onlineUsers" class="col-xs-12 col-md-3">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Online Users</h3>
      </div>
      <div class="panel-body">
        <ul v-for="user in users">
          <li>{{ user.name }}</li>
        </ul>
      </div>
      <div class="panel-footer">
        <h5 id="signInStatus"><i id="signInStatusIcon" class="fa fa-circle offline" aria-hidden="true"></i>Not signed in. </h5>
        <!-- <button id="signOutButton" @click="signOut" -->
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="dist/js/app.js"></script>

  <script type="text/x-template" id="chatWindow">
  <li class="list-group-item" v-for="message in messages">
    <h4 class="list-group-item-heading">
      {{ message.name }}
    </h4>

    <p class="list-group-item-text" v-if="message.description">{{ message.description }}</p>

    <h6><em><small>
      Sent:
      {{ message.date }}
    </em></small></h6>
  </li>
  </script>

  <script type="text/x-template" id="sendMessageWindow">
  <form id="messageForm" class="form-inline">
    <div class="form-group">
      <input id="name" class="form-control" placeholder="Name" maxlength=16 v-model="message.name">
    </div>
    <div class="input-group">
      <input id="messageText" class="form-control" placeholder="Message" v-model="message.description" ></input>
      <button id="submitButton" class="btn btn-primary" @click= "addMessage" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </form>
  </script>

  <script type="text/x-template" id="onlineUsersWindow">
  <li class="list-group-item" v-for="user in onlineUsers">
    <h4 class="list-group-item-text">
      {{ user.name }}
    </h4>
  </script>
</body>
</html>
